*{
	box-sizing: border-box;
}

#chicken{
	background-color: #e45355;
	min-height: 800px;
}

#beef{
	background-color: #999;
	min-height: 800px
}

#sushi{
	background-color: #31f3cf;
	min-height: 800px
}
